<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link href="home.css" rel="stylesheet" type="text/css" />
    <script
      src="../shared/header/header.js"
      type="text/javascript"
      defer
    ></script>
  </head>
  <body>
    <header-component></header-component>
    <main>
      <img id="logo" src="../../assets/images/new-logo.png" alt="" />
      <div class="products"></div>
    </main>
  </body>
  <script src="home.js"></script>
</html>