<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link href="shop.css" rel="stylesheet" type="text/css" />
    <script
      src="../../components/shared/header/header.js"
      type="text/javascript"
      defer
    ></script>
  </head>
  <body>
    <header-component></header-component>
    <div class="shop-body--content">
      <div class="flex-item">
        <div class="shop-categories">
          <ul>
            <li>Rock Climbing</li>
            <li>Beekeeper</li>
            <li>Fireman</li>
            <li>Scuba Diver</li>
            <li>Electrician</li>
          </ul>
        </div>
      </div>
      <div class="flex-item">
        <div class="top-rated--products">
          <div class="top-rated--product">
            <img src="" alt="" />
            <div class="product-body">
              <h2>Name Of The Product</h2>
              <span>Price</span>
            </div>
            <button class="btn-buy">
              BUY <i class="fa fa-shopping-cart"></i>
            </button>
          </div>
          <div class="top-rated--product">
            <img src="" alt="" />
            <h2>Name Of The Product</h2>
            <span>Price</span>
            <button class="btn-buy">
              BUY <i class="fa fa-shopping-cart"></i>
            </button>
          </div>
          <div class="top-rated--product">
            <img src="" alt="" />
            <h2>Name Of The Product</h2>
            <span>Price</span>
            <button class="btn-buy">
              BUY <i class="fa fa-shopping-cart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>