<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link href="shop.css" rel="stylesheet" type="text/css" />
    <script
      src="../../components/shared/header/header.js"
      type="text/javascript"
      defer
    ></script>
  </head>
  <body>
    <header-component></header-component>
    <div class="main">
    <aside class="shop-categories">
      <ul>
        <li value="rockclimbing">RockClimbing</li>
        <li value="beekeeper">Beekeeper</li>
        <li value="fireman">Fireman</li>
        <li value="scubadiver">ScubaDiver</li>
        <li value="electrician">Electrician</li>
      </ul>
    </aside>
    <div class="products"></div>
  </div>
  </body>
  <script src="../../core/scripts/product.js"></script>
</html>