*{
  font-family: barlow condensed,sans-serif;
  font-size: 16px;
}

.navibar {
  box-sizing: border-box;
  background-color: black;
  display: flex;
  align-items: center;
  padding-top: 0px;
  margin: -10px;
  margin-bottom: 2px;
}


nav{
  flex: 1;
  text-align: left;

}

nav ol{
  display: inline-block;
  list-style-type: none;
}

nav ol li{
  display: inline-block;
  padding: 0px;

}

a{
  text-decoration:none;
  color:white;
  padding-top: 10px;
  padding-bottom: 0px;
}

ol li a:hover{
  border-bottom: 2px solid blue;
}

/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding-left: 0px;
  padding-top: 10px;
  align-items: center;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {border-bottom: 0.1px solid blue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}

.logo{
  float: left;
}

.logo_image{
  float:left;
  height: 40px;
  width: 225px;
  padding: 0px;

}

.fa-search{
  position:absolute;
  left: 90%;
  top: 2.5%;
  color: white;
}


.fa-user{
  position:absolute;
  left: 92%;
  top: 2.5%;
  color: white;
}

.fa-shopping-cart{
  position:absolute;
  left: 94%;
  top: 2.5%;
  color: white;

}

body{
    background-color:white ;
    font-family: Verdana, sans-serif;
    margin:0;

}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: none;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

body{
  background-color: #333;
}

h6, .footer_links, footer a{
  color: #f2f2f2;

}

.email
{
    border-radius: 25px ;
    background-color: #f2f2f2;

}

.row-footer{

    display:grid;
    width:100% ;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    flex-wrap: wrap;
    color : #f2f2f2;
}
