body{
    background-color:aquamarine ;
    
}
.email
{
    border-radius: 25px ;
    background-color: aquamarine;

}
.row-footer{

    display:grid;
    width:100% ;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    flex-wrap: wrap;



}