<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link href="admin-edit.css" rel="stylesheet" type="text/css" />
    <script src="../../components/shared/header/header.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>
    <div class="title">
        <h2>Edit Product</h2>
      </div>
    <div class="edit-product--form">
        <label>Name</label>
        <input type="text" id="name" placeholder="Product name.."/>

        <label>Pret</label>
        <input type="text" id="price" placeholder="Pret.."/>

        <label>Cantitate</label>
        <input type="number" id="quantity" placeholder="Cantitate.."/>

        <label>Descriere</label>
        <textarea id="descriere">

        </textarea>

        <label>Categorie</label>
        <select id="category">
            <option value="rockclimbing">Rock Climbing</option>
            <option value="beekeeper">Beekeeper</option>
            <option value="fireman">Fireman</option>
            <option value="scubadiver">Scuba Diver</option>
            <option value="electrician">Electrician</option>
        </select>
        <input type="submit" id="btn" value="Edit Product">
    </div>
    <script src='admin-edit.js'></script>
</body>
</html>